body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 5px;
  padding: 5px;
}

.content {
  margin: 5px;
  background: #e3f4ff;
  padding: 5px;
}

.button-container {
  background: #e3f4ff;
  padding: 5px;
  text-align: center;

}

button {
  display: block;
  margin: 0px auto;
  background: white;
  border: 1px solid #eee;
}